h2 {
    text-align: center;
    color: #F0E6D2;
    font-size: 3rem;
    margin: 40px 0;
    font-weight: bold;
    letter-spacing: 2px;
}

.gira-completa {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-bottom: 40px;
}

.gira-completa:hover {
    transform: scale(1.0); 
    opacity: 1;
    box-shadow: 0 15px 40px rgba(255, 255, 255, 0.9);
}